.toggle-switch {
  display: flex;
  gap: 8px;
  padding: 6px 10px;
  border-radius: 20px;
  background-color: #f3f3f3;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.toggle__track {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80px;
  height: 32px;
  border: 1px solid black;
  border-radius: 999px;
  overflow: hidden;
}

.toggle-switch span {
  color: #aaa;
  transition: all 0.2s ease;
}

.toggle-switch__active {
  color: #000;
  font-weight: 600;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.toggle__label {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;  
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: black;
  transition: color 0.2s ease;
}

.toggle__label.active {
  color: white;
}

.toggle__thumb {
  position: absolute;
  width: 50%;
  height: 100%;
  background: black;
  border-radius: 999px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
  z-index: 1;
}


.toggle__thumb_left {
  transform: translateX(2px);
}

.toggle__thumb_right {
  transform: translateX(100%);
}