.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
}

.header__logo {
  height: 40px;
  width: auto;
}

.header__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../../vendor/CabinetGrotesk-Bold.woff") format("woff");
}

.header__title {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.header__left {
  display: flex;
  gap: 20px;
}

.header__right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__date {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.header__add-btn {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}

.header__username {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
}

.header__auth-btn {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;

  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  color: #000;
  cursor: pointer;
}

.header__auth-btn:hover {
  opacity: 0.6;
}
